body {
	background-color: lightgray;
	background-image: url("../img/burgerback.jpg");
	margin-top: 20px;
}

img {
	width: 200px;
	height: auto;
}

.title{
	background-color: rgba(231,199,56,.7);
}

.burgerRow{
	background: rgba(231,211,121,.6); 

}

h1{
	color: #C90C23;
}